.infoContain {
  height: 50px;
  background-color: rgb(58, 58, 60);

  display: flex;
  align-items: center;

  .keypad-info {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    // border: 2px solid red;

    a {
      text-decoration: none;
      color: lightgray;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-weight: lighter;
    }
  }
}

.keypad-hero {
  max-width: 100%;
  height: 500px;
  background-image: url("../images/LTKP.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  .keypad-banner {
    color: white;
    font-size: 100px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-align: center;
    padding-top: 50px;
  }
}
.references {
  width: 100%;
  height: 250px;
  background: rgb(36, 36, 38);
  // border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .reference-container {
    width: 350px;
    // border: 2px solid purple;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-direction: column;

    .ref {
      color: white;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-size: 30px;
      margin-bottom: 30px;
    }

    .refText {
      color: rgb(205, 205, 205);
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-size: 19px;
      text-align: center;
    }
  }
}
